<f:comment><!--

    @param array places     Found places

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:base="http://typo3.org/ns/Tollwerk/TwBase/ViewHelpers"
      xmlns:places="http://typo3.org/ns/Tollwerk/TwPlaces/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h1>searchAction()</h1>
<f:debug inline="1">{_all}</f:debug>
<p>
    As of now, you have to implement your own fluid templates and partials
    by overriding this inside your own extension.
</p>

<formvh:render factoryClass="Tollwerk\TwPlaces\Domain\Factory\Form\SearchFormFactory"/>

</html>